.cases__title-holder {
  display: flex;
  flex-direction: column;
}

.cases__title {
  font-weight: 800;
  &:not(:last-child) {
    margin-bottom: 4px;
  }

  &:nth-child(2) {
    padding-left: 16%;

    @include media-breakpoint-up(tablet) {
      padding-left: 32%;
    }
  }

  &:nth-child(3) {
    padding-left: 10%;

    @include media-breakpoint-up(tablet) {
      padding-left: 15%;
    }
  }
}


.case-card {
  position: relative;
  overflow: hidden;
  padding-top: calc(100% / (4 / 3));
}

.case-card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.case-card__top {
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  align-items: center;
}

.hash {
  text-decoration: none;
  font-size: 16px;


  @include media-breakpoint-up(tablet) {
    font-size: 18px;
  }

  @include media-breakpoint-up(desktop) {
    font-size: 20px;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.case-card__name {
  text-decoration: none;
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 24px;
  font-weight: 600;

  @include media-breakpoint-up(tablet) {
    font-size: 26px;
  }

  @include media-breakpoint-up(tablet-lg) {
    font-size: 30px;
  }

  @include media-breakpoint-up(desktop) {
    font-size: 40px;
  }
}
