$container-padding-x-sm: 0.75rem;
$container-padding-x-md: 1.5rem;
$container-padding-x: 3.75rem;

@mixin make-container($padding-x: $container-padding-x-sm) {
  width: 100%;
  padding-right: $container-padding-x-sm;
  padding-left: $container-padding-x-sm;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}

// Usage
.container {
  @include make-container();


  @include media-breakpoint-up(tablet) {
    padding-right: $container-padding-x-md;
    padding-left: $container-padding-x-md;
  }

  @include media-breakpoint-up(desktop) {
    padding-right: $container-padding-x;
    padding-left: $container-padding-x;
  }
}

.container-fluid {
  max-width: 1440px;
}
