.form {
  width: 100%;
  display: block;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  --bs-border-opacity: 0.5;
  border-radius: 18px;
  backdrop-filter: blur(3px);

  input {
    font-size: 1rem;
    font-weight: 500;
    border: none;

    &:focus,
    &:focus-visible {
      border: none !important;
      outline: none !important;
    }
  }

  button {
    font-weight: 500;
  }
}
