.callback {
  position: relative;
  padding-bottom: 180px;

  @include media-breakpoint-up(tablet) {
    padding: inherit;
  }
}

.callback__image-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;

  @include media-breakpoint-up(tablet) {
    position: relative;
    bottom: auto;
    left: auto;
  }
}

.callback__content {
  position: relative;
  z-index: 1;
}

.callback__title {
  padding-bottom: 330px;
  margin-bottom: 0;

  @include media-breakpoint-up(tablet) {
    padding-bottom: 0;
    margin-bottom: 60px;
  }
}
